[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = loleknos
	email = sestak.honza@gmail.com
[gui]
	recentrepo = C:/Users/lolek/Desktop/trapeni
